# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
venv_wsl/
.env/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Build/temporary files
build/
dist/
*.egg-info/

# IDE files
.vscode/
.idea/
